:root {
  --color-light-orange: #fd841f;
  --color-dark-orange: #e14d2a;
  --color-light-red: #cd104d;
  --color-dark-red: #9c2c77;
  --color-white: rgba(255, 255, 255, 0.87);
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-white);
  background: rgb(253, 132, 31);
  background: linear-gradient(
    180deg,
    var(--color-light-orange) 4%,
    var(--color-dark-orange) 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100vw;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  font-weight: 500;
  color: var(--color-light-red);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-dark-red);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-light-red);
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-dark-red);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  background-color: #e14c2a85;
  border: none;
  border-bottom: 2px solid var(--color-light-red);
  font-size: 1rem;
}
input:focus {
  outline: none;
}

/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
